<div class="flex justify-center px-[10px] sm:px-[20px]">
  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-y-[30px] gap-x-[15px] sm:gap-x-[20px] md:gap-x-[30px] xl:gap-x-[40px] custom-grid-gap">
    <!-- Actual Data -->

    <template class="mb-[200px]" x-for="routine in visibleRoutines" :key="routine._id">
      <a :href="`/pages/routine?id=${routine._id}`" x-show="!isLoading" x-clock x-transition>
        <div class="flex flex-col gap-3 w-full md:w-fit">
          <img
            loading="lazy"
            x-cloak
            x-show="!routine.loaded"
            x-transition:enter="transition ease-out duration-300"
            width=""
            height=""
            src="{{ 'background.svg' | asset_url }}"
            class=" w-full sm:h-[220px] sm:w-[220px] rounded-2xl lg:h-[250px] lg:w-[250px]"
            alt="Routine Image"
            alt=""
          >
          <img
            width="1200"
            height="1200"
            style="object-fit: cover; object-position: center; aspect-ratio: 1/1;"
            x-show="routine.loaded"
            x-cloak
            x-transition
            :src="routine.image"
            class="w-full sm:h-[220px] sm:w-[220px] rounded-2xl lg:h-[250px] lg:w-[250px]"
            alt="Routine Image"
            @load="routine.loaded = true"
            @error="routine.loaded = true"
          >

          <div class="flex justify-between">
            <h1 x-text="routine.name" class="text-[12px] xsm:text-[14px] sm:text-[16px] font-[500]"></h1>
          </div>

          <div class="flex gap-3 items-center">
            <img
              width=""
              height=""
              src="{{ 'reminder-calendar.svg' | asset_url }}"
              alt=""
            >
            <h1
              x-text="routine.duration.number + ' ' + routine.duration.unit"
              class="text-[12px] sm:text-[13px] mt-1 text-primaryGrey"
            ></h1>
          </div>

          <div class="flex gap-3 items-center">
            <img
              width=""
              height=""
              src="{{ 'reminder-items.svg' | asset_url }}"
              alt=""
            >
            <h1 class="text-[12px] sm:text-[13px] mt-1 text-primaryGrey">3 Reminder Items</h1>
          </div>

          <div class="flex gap-3 items-center">
            <img
              width=""
              height=""
              src="{{ 'by-amrutam.svg' | asset_url }}"
              alt=""
            >
            <h1 class="text-[12px] sm:text-[13px] mt-1 text-primaryGrey">By Amrutam</h1>
          </div>
        </div>
      </a>
    </template>
  </div>
</div>
