<div
  id="routine-list-skeleton"
  class="flex justify-center px-[10px] sm:px-[20px]"
>
  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-y-[30px] gap-x-[15px] sm:gap-x-[20px] md:gap-x-[30px] xl:gap-x-[40px] custom-grid-gap">
    {% for item in (1..8) %}
      <div class="flex flex-col gap-3 w-full md:w-fit">
        <!-- Skeleton Box -->
        <div
          class="relative w-[45vw] h-[45vw] md:h-[220px] md:w-[220px] rounded-2xl lg:h-[250px] lg:w-[250px] bg-primaryCream overflow-hidden"
        >
          <!-- Infinite Loading Effect -->
          <div class=" flex justify-center items-center absolute inset-0 ">
            <svg
              width="100px"
              height="100px"
              viewBox="0 0 187.3 93.7"
              preserveAspectRatio="xMidYMid meet"
              style="left: 50%; top: 50%; position: absolute; transform: translate(-50%, -50%) matrix(1, 0, 0, 1, 0, 0);"
            >
              <!-- Background path -->
              <path
                id="outline-bg"
                opacity="0.05"
                fill="none"
                stroke="#FFF7E2"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-miterlimit="10"
                d="M93.9,46.4c9.3,9.5,13.8,17.9,23.5,17.9s17.5-7.8,17.5-17.5s-7.8-17.6-17.5-17.5c-9.7,0.1-13.3,7.2-22.1,17.1 c-8.9,8.8-15.7,17.9-25.4,17.9s-17.5-7.8-17.5-17.5s7.8-17.5,17.5-17.5S86.2,38.6,93.9,46.4z"
              />

              <!-- Animated path -->
              <path
                id="outline"
                fill="none"
                stroke="#3A643B"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-miterlimit="10"
                stroke-dasharray="150 50"
                stroke-dashoffset="0"
                d="M93.9,46.4c9.3,9.5,13.8,17.9,23.5,17.9s17.5-7.8,17.5-17.5s-7.8-17.6-17.5-17.5c-9.7,0.1-13.3,7.2-22.1,17.1 c-8.9,8.8-15.7,17.9-25.4,17.9s-17.5-7.8-17.5-17.5s7.8-17.5,17.5-17.5S86.2,38.6,93.9,46.4z">
                <animate
                  attributeName="stroke-dashoffset"
                  from="0"
                  to="-200"
                  dur="1s"
                  repeatCount="indefinite"
                />
              </path>
            </svg>
          </div>
        </div>

        <div class="h-[16px] sm:h-[6px] w-[60%] bg-primaryCream  rounded "></div>
        <div class="flex gap-3 items-center">
          <div class="h-[16px] sm:h-[6px] w-[40px] bg-primaryCream  rounded "></div>
          <div class="h-[16px] sm:h-[6px] w-[50%] bg-primaryCream  rounded "></div>
        </div>
        <div class="flex gap-3 items-center">
          <div class="h-[16px] sm:h-[6px] w-[40px] bg-primaryCream  rounded "></div>
          <div class="h-[16px] sm:h-[6px] w-[50%] bg-primaryCream  rounded "></div>
        </div>
        <div class="flex gap-3 items-center">
          <div class="h-[16px] sm:h-[6px] w-[40px] bg-primaryCream  rounded "></div>
          <div class="h-[16px] sm:h-[6px] w-[50%] bg-primaryCream  rounded "></div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
