<link rel="stylesheet" href="{{ 'style.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'conflict.css' | asset_url }}">

<section x-data="routineList">
  <!-- Search -->
  {% render 'routine_list_search' %}

  <!-- Categories -->
  {% render 'routine_list_categories' %}

  <!-- All Routines -->
  {% render 'all_routines' %}

  <div x-show="routines.length > columnCount" x-cloak class="text-right">
    <button
      x-text="visibleRoutines.length >= routines.length ? 'Show Less' : 'Show More'"
      @click="visibleRoutines.length >= routines.length ? showLess() : showMore()"
      class="text-primaryGreen font-[500] text-[13px] my-6 md:my-8 mr-[20px] md:mr-[40px]"
    ></button>
  </div>

  <div
    class="mt-[100px]"
  ></div>
</section>

<script src="{{ 'routine-list.js' | asset_url }}" defer="defer"></script>
{% comment %} <script src="{{ 'alpine.js' | asset_url }}" defer="defer"></script> {% endcomment %}
<!-- Alpine Plugins -->
<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>

<!-- Alpine Core -->
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

{% schema %}
{
  "name": "Routine List",
  "target": "section"
}
{% endschema %}
