<link rel="stylesheet" href="{{ 'style.css' | asset_url }}">

<style>
  .bro {
    color: red !important;
  }
</style>

<div x-data="{mess : 'Haa'}">
  <button class="text-red-500 text-3xl" @click="console.log('Hello')" x-text="mess"></button>
</div>

{% schema %}
{
  "name": "Progress and Benfits",
  "target": "section"
}
{% endschema %}
{% comment %} <script src="https://cdn.tailwindcss.com" defer></script> {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js" defer></script>
