@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

[x-cloak] {
  display: none !important;
}

section:empty {
  display: block;
}

div:empty {
  display: block !important;
}

.fitness-category {
  background: linear-gradient(
    47.44deg,
    rgba(250, 226, 145, 0.47) 13.17%,
    #f5f5f5 53.03%
  );
}

.skincare-category {
  background: linear-gradient(
    47.44deg,
    rgba(145, 168, 250, 0.47) 13.17%,
    #f5f5f5 53.03%
  );
}

.reminder-type-green {
  color: rgba(58, 100, 59, 0.7);
}

input[type="checkbox"] {
  margin-right: 0 !important;
  /* width: max-content ; */
}

.cartCheckBox {
  width: 25px !important;
  height: 25px !important;
}

.custom-input-border {
  border: 0 !important;
}
.custom-fieldset-legend {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
