<style>
  .custom-fieldset {
    padding-top: 4px;
    padding-bottom: 8px;
  }
</style>

<div x-show="tab===1" class="xl:max-w-[90%] 2xl:max-w-[70%] mx-auto max-md:mx-3 mb-[100px]" x-cloak x-transition>
  <h1 class="font-[500] my-[25px]">Reminder Progress Summary</h1>

  <fieldset class="border-2 px-4 max-w-[350px]  flex items-center rounded-3xl mb-4">
    <legend class="text-primaryGrey text-[11px] custom-fieldset-legend">Select Date</legend>
    <input
      type="text"
      name="date"
      class="custom-fieldset custom-input-border focus:outline-none bg-transparent w-full focus:shadow-none"
      id="date"
    >
  </fieldset>

  <h1 class="font-[500] my-[25px] text-[14px]">Reminder Item Summary (19th April,2025)</h1>

  <div>
    <h1 class="font-[500] my-[25px] text-[15px]">Amrutam Nari Sondarya Malt</h1>

    <div class="flex flex-col gap-[30px]">
      <div class="flex gap-4 items-center">
        <div class="flex gap-2 items-center">
          <img
            width=""
            height=""
            src="{{ 'slot-clock.svg' | asset_url }}"
            alt=""
          >
          <h3 class="text-primaryGrey text-[13px]">10:00 AM</h3>
        </div>

        <div class="p-2 border-primaryGrey rounded-full border">
          <h3 class="text-[13px] text-primaryGrey">Before Meal</h3>
        </div>

        <div style="border: 1px solid #e5e7eb" class="min-w-[250px] mx-4"></div>

        <div class="flex gap-3 items-center">
          <label class="relative inline-flex items-center cursor-pointer">
            <input
              {% comment %} @change="selectProduct(product)" {% endcomment %}
              id="default-checkbox"
              type="checkbox"
              class="cartCheckBox rounded-full appearance-none bg-gray-100 border border-gray-300 checked:bg-primaryGreen peer focus:outline-none"
            >
            <svg
              class="absolute w-6 h-6 ml-[5px] text-white opacity-0 peer-checked:opacity-100 peer-checked:scale-100 transition-opacity  duration-200"
              width="12"
              height="8"
              viewBox="0 0 12 8"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M10.6673 0.5L4.25065 6.91667L1.33398 4" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </label>

          <h3 class="text-primaryGreen text-[13px]">Mark as Done</h3>
        </div>
      </div>

      <div class="flex gap-4 items-center">
        <div class="flex gap-2 items-center">
          <img
            width=""
            height=""
            src="{{ 'slot-clock.svg' | asset_url }}"
            alt=""
          >
          <h3 class="text-primaryGrey text-[13px]">10:00 AM</h3>
        </div>

        <div class="p-2 border-primaryGrey rounded-full border">
          <h3 class="text-[13px] text-primaryGrey">Before Meal</h3>
        </div>

        <div style="border: 1px solid #e5e7eb" class="min-w-[250px] mx-4"></div>

        <div class="flex gap-3 items-center">
          <label class="relative inline-flex items-center cursor-pointer">
            <input
              {% comment %} @change="selectProduct(product)" {% endcomment %}
              id="default-checkbox"
              type="checkbox"
              class="cartCheckBox rounded-full appearance-none bg-gray-100 border border-gray-300 checked:bg-primaryGreen peer focus:outline-none"
            >
            <svg
              class="absolute w-6 h-6 ml-[5px] text-white opacity-0 peer-checked:opacity-100 peer-checked:scale-100 transition-opacity  duration-200"
              width="12"
              height="8"
              viewBox="0 0 12 8"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M10.6673 0.5L4.25065 6.91667L1.33398 4" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </label>

          <h3 class="text-primaryGreen text-[13px]">Mark as Done</h3>
        </div>
      </div>
    </div>
  </div>
</div>
