<div x-show="tab === 1" x-cloak x-transition>
  <h1 class="font-[500]">List of Reminders (5)</h1>

  <div id="reminders-grid" class="grid grid-cols-3 gap-6 my-4"></div>
</div>

<div x-show="tab === 1" x-cloak x-transition>
  <h1 class="font-[500] my-10">Weekly Benefits</h1>

  <div id="benfits-grid" class="grid grid-cols-2 gap-20 my-4"></div>
</div>
