<nav class="py-6 font-[500] flex flex-col gap-2 justify-center items-center bg-[#3A643B] ">
  <h3 class="text-white text-[13px] italic">DOWNLOAD AMRUTAM APP</h3>
  <h3 class="text-white text-[13px] italic">for a 10% OFF with code AMRUTAM10</h3>
</nav>

<nav class="bg-[#fff7e2] py-5 text-xs px-3">
  <div class="flex justify-center my-6">
    <img
      width="200"
      height="200"
      src="https://amrutam.co.in/cdn/shop/files/only_text_Amrutam_Logo_in_Green-09_5580cc82-5bb1-43d6-9ed8-f5d51c04d1f8.png?v=1658129548&width=200"
      alt=""
    >
  </div>

  <div class="border w-full mx-2 my-5 border-gray-200"></div>

  <div class="flex justify-center gap-10">
    <p class="text-[14px] text-gray-700">Hair</p>
    <p class="text-[14px] text-gray-700">Skin</p>

    <p class="text-[14px] text-gray-700">Health</p>

    <p class="text-[14px] text-gray-700">Lifestyle</p>

    <p class="text-[14px] text-gray-700">Community</p>

    <p class="text-[14px] text-gray-700">Blog</p>
    <p class="text-[14px] text-gray-700">About Us</p>

    <p class="text-[14px] text-gray-700">All Products</p>
  </div>

  <p class="mx-24 text-[13px] my-6">
    <span class="text-[#3a643b]">Routine</span> <span class="mx-1"> > </span> Skin Care Routine
  </p>
</nav>
