<div class="flex gap-[13px] justify-center my-[40px] flex-wrap">
  <template x-for="(category,index) in categories" :key="index">
    <button
      :style="currentCategory !== category.name  && 'border: 1px solid #EBEBEB'"
      @click="filterByCategory(category.name)"
      :class="currentCategory === category.name && 'bg-primaryCream'"
      class=" rounded-2xl px-[10px] py-2 cursor-pointer"
    >
      <h2
        x-text="category.name"
        class="text-[#8A8A8A] "
      ></h2>
    </button>
  </template>
</div>
