<section x-show="tab===1" class="text-[#3a643b]" x-transition x-cloak>
  <section class="m-2 flex mx-10 my-8 gap-14">
    <!-- Routine Thumbnail -->
    <img width="100" height="100" src="{{ 'img.svg' | asset_url }}" class="h-[43rem] w-[43rem]" alt="">

    <div class="flex flex-col gap-[1.1rem]">
      <h1 class="text-4xl font-[500] text-[#3a643b]">Skin Care Routine</h1>

      <!-- Imports & Likes -->
      <div class="flex gap-1 items-center">
        <svg
          width="16"
          height="15"
          viewBox="0 0 16 15"
          fill="#3a643b"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M4.625 1C2.34688 1 0.5 2.84688 0.5 5.125C0.5 9.25 5.375 13 8 13.8723C10.625 13 15.5 9.25 15.5 5.125C15.5 2.84688 13.6531 1 11.375 1C9.98 1 8.74625 1.69263 8 2.75275C7.61963 2.21095 7.11431 1.76878 6.52682 1.46368C5.93934 1.15858 5.28699 0.999533 4.625 1Z"
            stroke="#101018"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>

        <p class="text-[#3a643b] text-[13px]">by 49 others</p>

        <div class="border h-[18px] border-[#D0D0D0] mx-2"></div>

        <div class="flex items-center gap-2">
          <svg
            width="18"
            height="15"
            viewBox="0 0 18 15"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.4801 9.19979V0.533067C8.4801 0.238662 8.72432 0 9.00658 0C9.29734 0 9.53306 0.238113 9.53306 0.533067V9.18664L11.6023 7.11738C11.8032 6.91645 12.1403 6.9142 12.3467 7.12068C12.5472 7.32111 12.5547 7.66044 12.35 7.8651L9.41338 10.8017C9.40178 10.8162 9.38932 10.8301 9.37602 10.8434C9.27234 10.9471 9.13575 10.9982 9 10.9979C8.86425 10.9982 8.72766 10.9471 8.62398 10.8434C8.61068 10.8301 8.59822 10.8162 8.58662 10.8017L5.64996 7.8651C5.44531 7.66044 5.45282 7.32111 5.65326 7.12068C5.85974 6.9142 6.19675 6.91645 6.39768 7.11738L8.4801 9.19979ZM0 14.5C0 14.2239 0.227587 14 0.50021 14H17.4998C17.776 14 18 14.2319 18 14.5C18 14.7761 17.7724 15 17.4998 15H0.50021C0.223952 15 0 14.7681 0 14.5Z"
              fill="#101018"
            />
          </svg>

          <p class="text-[#3a643b] text-[13px]">followed by 750 others</p>
        </div>
      </div>

      <!-- Weeks, Type, Created -->
      <div class="rounded-xl flex gap-4 p-4 w-fit bg-[#fff7e2]">
        <div class="flex items-center gap-3">
          <img width="100" height="100" class="h-[3rem] " src="{{ "weeks.svg" | asset_url }}" alt="">
          <div class="flex flex-col">
            <h4 class="text-[#A0A0A0] text-xs">Weeks</h4>
            <p class="text-[13px] font-[500]">12</p>
          </div>
        </div>

        <div class="border h-full"></div>

        <div class="flex items-center gap-3">
          <img width="100" height="100" class="h-[3rem] " src="{{ "type.svg" | asset_url }}" alt="">
          <div class="flex flex-col">
            <h4 class="text-[#A0A0A0] text-xs">Type</h4>
            <p class="text-[13px] font-[500]">Beauty</p>
          </div>
        </div>

        <div class="border h-full"></div>

        <div class="flex items-center gap-3">
          <img width="100" height="100" class="h-[3rem] " src="{{ "created.svg" | asset_url }}" alt="">
          <div class="flex flex-col">
            <h4 class="text-[#A0A0A0] text-xs">Created</h4>
            <p class="text-[13px] font-[500]">Amrutam</p>
          </div>
        </div>
      </div>

      <!-- Description -->
      <div class="flex flex-col gap-1 w-fit">
        <h3 class="font-[500] text-[#3a643b]">Description</h3>

        <p class="text-[13px] text-[#A0A0A0] max-w-3xl">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit amet itaque maxime architecto unde! Enim, cum.
          Magni eius vel voluptatem molestias cum libero soluta non enim? Eligendi alias repellat voluptatibus velit quo
          obcaecati nulla doloribus facilis veniam maxime perferendis esse at laborum, distinctio dolore. Quod maiores
          dolores voluptatum qui asperiores omnis, repellat distinctio culpa quam porro odit. Quidem accusamus, ex et
          voluptas, maxime omnis reprehenderit dignissimos tenetur
        </p>

        <button class="text-[#3A643B] font-semibold text-[13px] text-left">Read More</button>
      </div>
    </div>
  </section>
</section>
