<style>
  .custom-fieldset {
    padding-top: 4px;
    padding-bottom: 8px;
  }
</style>

<div
  x-show="tab===3"
  x-init="$watch('index', value => console.log(value))"
  x-transition
  class=" md:max-w-[90%] xl:max-w-[80%] mx-auto"
  x-cloak
>
  <h1 class="font-[500] my-[30px] text-3xl text-[#434343]  text-center">Add Reminder Channels</h1>

  <div class="flex justify-center mx-[5px]">
    <div
      id="reminder-channels-grid"
      class="grid grid-cols-1 sm:grid-cols-4 xl:grid-cols-4 gap-10 sm:gap-6 md:gap-14 my-4 w-[100%]"
    >
      <div
        x-show="routine?.channel?.includes('sms')"
        style="border: 1px solid #e5e7eb"
        class=" col-span-2 flex flex-col gap-8 p-6  rounded-2xl "
      >
        <div class="flex justify-between">
          <h2 class="text-[1.4rem] ">SMS</h2>

          <label
            for="sms"
            class="flex items-center cursor-pointer select-none text-dark dark:text-white  "
          >
            <div class="relative ">
              <input
                :checked="index.includes(0)"
                @change="index.includes(0) ? index.splice(index.indexOf(0), 1) : index.push(0)"
                type="checkbox"
                id="sms"
                class="peer sr-only"
              >
              <div
                style=" border: 1px solid #3A643B;"
                class="block h-8 rounded-full dark:bg-dark-2 bg-gray-3 w-14 "
              ></div>
              <div
                class="absolute w-6 h-6 transition bg-primaryGrey  rounded-full dot dark:bg-dark-4 left-1 top-1 peer-checked:translate-x-full peer-checked:bg-primaryGreen"
              ></div>
            </div>
          </label>
        </div>

        <fieldset class="border-2 px-4 min-w-[100%]  ssmd:min-w-[280px]  flex items-center rounded-3xl mb-4">
          <legend class="text-primaryGrey text-[11px] custom-fieldset-legend">Mobile Number</legend>
          <input
            :disabled="!index.includes(0)"
            x-model="userReminderChannels.sms"
            type="text"
            name="sms"
            class=" custom-fieldset custom-input-border focus:outline-none bg-transparent w-full focus:shadow-none"
            id="sms"
          >
        </fieldset>
      </div>

      <div
        :checked="index.includes(1)"
        x-show="routine?.channel?.includes('whatsapp')"
        style="border: 1px solid #e5e7eb"
        class=" col-span-2 flex flex-col gap-8 p-6  rounded-2xl "
      >
        <div class="flex justify-between">
          <h2 class="text-[1.4rem] ">WhatsApp</h2>
          <label
            for="whataspp"
            class="flex items-center cursor-pointer select-none text-dark dark:text-white  "
          >
            <div class="relative ">
              <input
                :checked="index.includes(1)"
                @change="index.includes(1) ? index.splice(index.indexOf(1), 1) : index.push(1)"
                type="checkbox"
                id="whataspp"
                class="peer sr-only "
              >
              <div
                style=" border: 1px solid #3A643B;"
                class="block h-8 rounded-full dark:bg-dark-2 bg-gray-3 w-14 "
              ></div>
              <div
                class="absolute w-6 h-6 transition bg-primaryGrey  rounded-full dot dark:bg-dark-4 left-1 top-1 peer-checked:translate-x-full peer-checked:bg-primaryGreen"
              ></div>
            </div>
          </label>
        </div>

        <fieldset class="border-2 px-4 min-w-[100%]  ssmd:min-w-[280px]  flex items-center rounded-3xl mb-4">
          <legend class="text-primaryGrey text-[11px] custom-fieldset-legend">WhatsApp Number</legend>
          <input
            :disabled="!index.includes(1)"
            x-model="userReminderChannels.whatsapp"
            type="text"
            name="whatsapp"
            class=" custom-fieldset custom-input-border focus:outline-none bg-transparent w-full focus:shadow-none"
            id="whatsapp"
          >
        </fieldset>
      </div>
    </div>
  </div>

  <div @click="addChannels" class="text-center">
    <button
      :disabled="!index.length"
      x-text=" isAddingChannels ? 'Adding...' : 'Add Reminder Channels'"
      class="px-14 py-3 rounded-lg  disabled:opacity-50 bg-[#3A643B] text-white text-[16px] shadow-lg my-[36px]"
    ></button>
  </div>
</div>
